body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.hero__section {
    height: 100vh;
    background-image: linear-gradient(rgba(2, 63, 140, 0.8),rgba(2, 63, 140, 0.8)), url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    &__name {
        text-align: center;
        color: $white;
        font-size: 80px;
        font-weight: 500;
        justify-self: center;
        margin-bottom: 0;
    }
    &__nickname {
        text-align: center;
        color: $white;
        font-size: 21px;
        justify-self: center;
        margin-top: 0.1em;
    }
    &__arrow {
        color: $accent-color;
        font-size: 50px;
        align-self: center;
        position: absolute;
        bottom: 40px;
        cursor: pointer;
    }
}
.navbar {
    background: #F3F9FD;
    height: 80px;
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
    &__menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        &__item {
            border-top: 4px solid #F3F9FD;
            padding: 1em 3em;
            color: $base-color;
            cursor: pointer;
            &:hover,
            &.active {
                border-top: 4px solid $accent-color;
            }
        }
    }
}
.section {
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    .profile__image {
        align-self: center;
        padding-top: 3em;
        &__caption {
            color: $base-color;
            opacity: 0.4;
            text-align: center;
            font-size: 16px;
        }
    }
    .section__header {
        font-size: 50px;
        font-weight: 800;
        text-align: center;
        color: $base-color;
    }
}
.body__text {
    color: $base-color;
    line-height: 1.5;
    font-size: 28px;
    padding: 0 2em;
}
.accented__link {
    color: $accent-color;
    text-decoration: underline;
}
.footer {
    background: $accent-color;
    height: 80px;
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    &__menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        &__item {
            padding: 1em 0.5em;
            color: $base-color;
            cursor: pointer;
        }
    }
}